<!DOCTYPE html>
<html lang=pt-br>
<head><meta charset=utf-8>
<title>L-oja, o e-commerce do L :: Deu ruim!</title>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
<h1>L-oja, o e-commerce do L</h1>
<h2>404</h2>
<div><p>Deu ruim, amizade.</p>
<p>Parece que o que você estava procurando não está por aqui :(</p>
<p><a href="/">Vamos voltar para o início?</a></p>
</div>
</body>
</html>
