<!DOCTYPE html>
<html lang=pt-br>
<head><meta charset=utf-8>
<title>L-oja, o e-commerce do L :: Início</title>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
<h1>L-oja, o e-commerce do L</h1>
<div>
<h3>Seja bem-vindo à L-oja, o e-commerce do L.</h3>
<p>Aqui você poderá conhecer todos os magníficos produtos do brilhante Light Lawliet.</p>
<p><a href="/produtos">Conheça nossos produtos</a></p>
</div>
</body>
</html>
